DB_URI = ''
DB_SCHEMA = 'zypress'
SAILS_TEMP_FOLDER_PATH = ".temp/"
SAILS_CODE_GEN_FOLDER_PATH =  ".code/"
WORD_TEMPLATES_FOLDER_PATH = "views/templates/"

ACCESS_TOKEN_SECRET = 
ALGORITHM = HS256
EXPIRESIN = 1m

REFRESH_TOKEN_SECRET = 

AWSS3_KEY = 
AWSS3_SECRET = 
AWSS3_BUCKET_NAME = 
AWSS3_REGION = us-east-2

MAILGUN_API_KEY = 
MAILGUN_DOMAIN = 